h1 {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
    color: #333333;
}

p {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
    font-size: 18px;
    max-width: 700px;
    color: #333333;
}

#row.row {
    margin-right: 0px;
    margin-left: 0px;
}

.container {
    padding-top: 20px;
    min-width: 1000px;
    height: 100%;
    background-color: white;
}

#footer {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
    padding-top: 20px;
    font-size: 18px;
    text-align: center;
    color: #333333;
}
